{% extends 'main/base.html' %}

{% block title %}
Asosiy sahifa
{% endblock %}

{% block body %}
<div class="container karusel">

<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://storage.kun.uz/source/9/PBLJAGIzVamQj4mMptgT9KX3zrCU20fd.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Фото:</h5>
        <p> Шавкат Мирзиёев Сингапур раҳбарлари билан музокаралар ўтказди.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://storage.kun.uz/source/thumbnails/_medium/9/T_MqSGvzsLKeNiaPBoE1VxJsHfqgyPnO_medium.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Словакия Украинага Zuzana 2 гаубицалари етказиб беришни якунлади</h5>
        <p>Словакия 2022 йилда имзоланган шартномани бажариб, саккизинчи Zuzana 2 гаубицасини Украинага топширди. Энди бу ўзиюрар қуролларни ишлаб чиқарувчи корхона Украина янги буюртмасини амалга оширмоқда.
</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://storage.kun.uz/source/thumbnails/_medium/9/bGlHQwTOqlODHuPqKX92nR6Jc3-Cg3So_medium.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Microsoft ўз ходимларига чексиз дам олиш ҳуқуқини беради</h5>
        <p>Янги сиёсатга кўра, неча кун таътилга чиқишни ходимнинг ўзи белгилайди.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  </div>

{% endblock %}